@use 'misc/variables.scss';
@use 'misc/body.scss';
@use 'UI/ui-index.scss';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

.main-app-window {
	max-width: 400px;
	max-height: 900px;
	height: 100vh;
}
