@use 'misc/variables.scss';
@use 'misc/body.scss';
@use 'UI/ui-index.scss';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

.main-app-window {
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.349) 0 0 20px;
	width: 100%;
	max-width: 500px;
	max-height: 900px;
	height: 100%;
	position: relative;
	.app-content {
		overflow-y: auto !important;
		height: 100%;
		padding-bottom: 200px;
		> .post {
			margin-bottom: 20px 0;
		}
	}
}
