@use '../misc/variables.scss';

button {
	cursor: pointer;
	// color: $c-main-font-icon;
}

.main-nav,
.nav-bottom,
.post {
	button {
		padding: 5px;
		color: variables.$c-main-font-icon;
		* {
			color: variables.$c-main-font-icon;
		}
		&:hover {
			color: rgba(variables.$c-main-font-icon, $alpha: 0.65);
			span {
				color: rgba(variables.$c-main-font-icon, $alpha: 0.65);
			}
		}
	}
}

.blue-button {
	height: fit-content;
	color: adjust-color($color: blue, $saturation: 50%, $lightness: 0%, $alpha: 0.8);
	font-size: 1.3rem;
	// padding: 2rem 1rem;
	font-weight: bold;
	//light hover
	&:hover {
		color: adjust-color($color: blue, $saturation: 50%, $lightness: +20%, $alpha: 1);
	}
}

.post {
	button {
		position: relative;
		color: white;
		cursor: pointer;
		user-select: none;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s; /* Safari */
	}

	button:after {
		content: '';
		display: block;
		position: absolute;
		border-radius: 50%;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.5s;
		box-shadow: 0 0 10px 40px rgba(255, 255, 255, 0.566);
	}

	// button[data-filled='true'] {
	// 	background-color: black;
	// }

	button:active:after {
		box-shadow: 0 0 0 0 white;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 1;
		transition: 0s;
	}

	button:active {
		top: 1px;
	}
}
