@use '../misc/variables.scss';

button {
	cursor: pointer;
	// color: $c-main-font-icon;
}

.main-nav,
.nav-bottom,
.post {
	button {
		padding: 5px;
		color: variables.$c-main-font-icon;
		* {
			color: variables.$c-main-font-icon;
		}
		&:hover {
			color: rgba(variables.$c-main-font-icon, $alpha: 0.65);
			span {
				color: rgba(variables.$c-main-font-icon, $alpha: 0.65);
			}
		}
	}
}
