@use '../misc/variables.scss';

.nav-bottom {
	border-top: 2px solid variables.$c-contrast;
	background-color: variables.$c-body;
	position: sticky;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	width: 100%;
	height: variables.$unified-nav-height;
	min-height: variables.$min-nav-height;
	button {
		span {
			font-size: variables.$icon-button-size;
		}
	}
}
