@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.main-nav {
	h1 {
		font-family: Dancing Script, cursive;
		font-size: 36px;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	i {
		display: block;
	}
}
