@use '../../../misc/variables.scss' as *;

.post {
	margin-bottom: 30px;
	width: 100%;
	animation: post-show 0.2s;
	.post-top-bar {
		display: flex;
		justify-content: space-between;
		padding: 2%;
		.post-top-left {
			display: flex;
			align-items: center;
			gap: 10px;
			.post-user-img {
				img {
					height: 50px;
					width: 50px;
					object-fit: cover;
					border-radius: 50px;
				}
			}
		}
		.button-post-option {
			span {
				font-size: $icon-button-size;
			}
		}
	}
	.post-photo {
		img {
			width: 100%;
			aspect-ratio: 1/1;
		}
	}
	.post-bottom-segment {
		padding: 0 2%;
	}
	.post-desc {
		details {
			.details-username {
				font-weight: bold;
			}
			margin: 10px 0;
			.show-hide-btn-post {
				cursor: pointer;
				color: rgba($color: $c-main-font-icon, $alpha: 0.6);
				font-weight: bold;
				display: inline;
			}
		}
		summary {
			display: flex;
			align-items: baseline;
			gap: 0.3rem;
			* {
				font-size: 1rem;
			}
			h2 {
				font-size: 1rem;
			}
		}
		details[open] {
			summary {
				display: none;
				span,
				p {
					display: none;
				}
			}
		}
	}
	.post-buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 5px 0;
		.buttons-left {
			display: flex;
			gap: 10px;
		}
		span {
			font-size: $icon-button-size;
			// padding: 5px;
		}
	}
}

@keyframes post-show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
